{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        {% for player in players %}
            <p>{{ player.prenom }} {{ player.nom }}</p>
        {% endfor %}

        <a href="{{ path('player') }}">Ajouter un joueur</a>

        <form method="post" action="{{ path('resultat') }}">
            <input name="team" type="number" value="1">
            <button type="submit">Répartir</button>
        </form>
    </div>
{% endblock %}
